fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
python-dotenv
requests

# Validation
pydantic
email-validator

# Authentication
passlib==1.7.4
bcrypt==4.3.0
python-jose[cryptography]

# File upload
python-multipart

# External services
supabase
openai
google-genai